<p-panel header="Pipes Básicos" class="p-1">
  <p>Pipes incluídos en Angular - usualmente en el Common Module</p>
</p-panel>
<div class="grid mt-2">
  <div class="col-12 md:col-4 lg:col-3">
    <p-card header="uppercase">{{ nameUpper | uppercase }}</p-card>
  </div>
  <div class="col-12 md:col-4 lg:col-3">
    <p-card header="lowercase">{{ nameLower | lowercase }}</p-card>
  </div>
  <div class="col-12 md:col-4 lg:col-3">
    <p-card header="titlecase">{{ titleCase | titlecase }}</p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Custom Date">
      <ul>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date : "short" }}</li>
        <li>{{ customDate | date : "long" }}</li>
        <li>{{ customDate | date : "MMMM dd, yyyy" }}</li>
        <li>{{ customDate | date : "dd/MM/yyyy" }}</li>
      </ul>
      <hr />
      <ol>
        <li>{{ customDate | date : "long" : "GMT-6" }}</li>
        <li>{{ customDate | date : "long" : "GMT-5" }}</li>
      </ol>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="titlecase">{{ titleCase | titlecase }}</p-card>
  </div>
</div>
